In [1]:
### Create MySQL Connection And Connect
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="12345",
  database="student"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002BA274C1CA0>

In [2]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'studentinfo' already exists

In [3]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 8

In [4]:
### Insert multiple records in Table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Krish", "Stats"),
        ("Joe", "Maths"),
        ("Ankur","Data Science"),
        ("Paul","Data Science"),
        ("Vishal","Maths"),
        ("Krish","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 9

In [5]:

#Select All

cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [6]:
### Fetch All the Data
cursor.fetchall()

[(8, 'John', 'Stats'),
 (9, 'Krish', 'Stats'),
 (10, 'Joe', 'Maths'),
 (11, 'Ankur', 'Data Science'),
 (12, 'Paul', 'Data Science'),
 (13, 'Vishal', 'Maths'),
 (14, 'Krish', 'Data Science')]

In [7]:
### Fetch One Record At A time
cursor.fetchone()

In [8]:
lst=cursor.fetchall()

In [9]:
for records in lst:
    print(records)

In [10]:
#Selecting Particular Rows

cursor.execute("Select * from studentinfo where name='Krish'")

In [11]:
### Fetch All the Data
cursor.fetchall()

[(9, 'Krish', 'Stats'), (14, 'Krish', 'Data Science')]

In [13]:
#Select Particular Columns

cursor.execute("Select subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

In [14]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]

In [15]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'Krish' OR subject = 'Data Science'") 
#### Fetch All
cursor.fetchall()

[('Krish', 'Stats'),
 ('Ankur', 'Data Science'),
 ('Paul', 'Data Science'),
 ('Krish', 'Data Science')]

In [18]:

#Drop Table

cursor.execute("DROP TABLE studentinfo")