In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [2]:
df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)

In [3]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [4]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Krush|  19|        17| 88290|
|   Kimar|  23|        18| 94845|
|    null|  10|        16|  null|
|Dagrisab|  56|      null| 60268|
|  Sanjay|  46|        15| 52381|
|   Mintu|null|        17| 93836|
|   Vijay|  17|        18|  null|
|    null|  32|      null| 71205|
|Amjatcan|null|        20| 63980|
|  Rajish|  25|        20|  null|
+--------+----+----------+------+

In [5]:
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  19|        17| 88290|
|  23|        18| 94845|
|  10|        16|  null|
|  56|      null| 60268|
|  46|        15| 52381|
|null|        17| 93836|
|  17|        18|  null|
|  32|      null| 71205|
|null|        20| 63980|
|  25|        20|  null|
+----+----------+------+

In [6]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Krush|  19|        17| 88290|
|   Kimar|  23|        18| 94845|
|    null|  10|        16|  null|
|Dagrisab|  56|      null| 60268|
|  Sanjay|  46|        15| 52381|
|   Mintu|null|        17| 93836|
|   Vijay|  17|        18|  null|
|    null|  32|      null| 71205|
|Amjatcan|null|        20| 63980|
|  Rajish|  25|        20|  null|
+--------+----+----------+------+

In [7]:
df_pyspark.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Krush| 19|        17| 88290|
| Kimar| 23|        18| 94845|
|Sanjay| 46|        15| 52381|
+------+---+----------+------+

In [8]:
### any==how
df_pyspark.na.drop(how="any").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Krush| 19|        17| 88290|
| Kimar| 23|        18| 94845|
|Sanjay| 46|        15| 52381|
+------+---+----------+------+

In [9]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Krush|  19|        17| 88290|
|   Kimar|  23|        18| 94845|
|    null|  10|        16|  null|
|Dagrisab|  56|      null| 60268|
|  Sanjay|  46|        15| 52381|
|   Mintu|null|        17| 93836|
|   Vijay|  17|        18|  null|
|    null|  32|      null| 71205|
|Amjatcan|null|        20| 63980|
|  Rajish|  25|        20|  null|
+--------+----+----------+------+

In [10]:
### any==how
df_pyspark.na.drop(how="all").show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Krush|  19|        17| 88290|
|   Kimar|  23|        18| 94845|
|    null|  10|        16|  null|
|Dagrisab|  56|      null| 60268|
|  Sanjay|  46|        15| 52381|
|   Mintu|null|        17| 93836|
|   Vijay|  17|        18|  null|
|    null|  32|      null| 71205|
|Amjatcan|null|        20| 63980|
|  Rajish|  25|        20|  null|
+--------+----+----------+------+

In [11]:
##threshold
df_pyspark.na.drop(how="any",thresh=3).show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Krush|  19|        17| 88290|
|   Kimar|  23|        18| 94845|
|Dagrisab|  56|      null| 60268|
|  Sanjay|  46|        15| 52381|
|   Mintu|null|        17| 93836|
|   Vijay|  17|        18|  null|
|Amjatcan|null|        20| 63980|
|  Rajish|  25|        20|  null|
+--------+----+----------+------+

In [12]:
### Filling the Missing Value
df_pyspark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| Age|Experience|Salary|
+--------------+----+----------+------+
|         Krush|  19|        17| 88290|
|         Kimar|  23|        18| 94845|
|Missing Values|  10|        16|  null|
|      Dagrisab|  56|      null| 60268|
|        Sanjay|  46|        15| 52381|
|         Mintu|null|        17| 93836|
|         Vijay|  17|        18|  null|
|Missing Values|  32|      null| 71205|
|      Amjatcan|null|        20| 63980|
|        Rajish|  25|        20|  null|
+--------------+----+----------+------+

In [13]:
## subset
df_pyspark.na.drop(how="any",subset=['Experience']).show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Krush|  19|        17| 88290|
|   Kimar|  23|        18| 94845|
|    null|  10|        16|  null|
|  Sanjay|  46|        15| 52381|
|   Mintu|null|        17| 93836|
|   Vijay|  17|        18|  null|
|Amjatcan|null|        20| 63980|
|  Rajish|  25|        20|  null|
+--------+----+----------+------+

In [15]:
### Filling the Missing Value
df_pyspark.na.fill('Missing Values',['Age','Experience']).show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Krush|  19|        17| 88290|
|   Kimar|  23|        18| 94845|
|    null|  10|        16|  null|
|Dagrisab|  56|      null| 60268|
|  Sanjay|  46|        15| 52381|
|   Mintu|null|        17| 93836|
|   Vijay|  17|        18|  null|
|    null|  32|      null| 71205|
|Amjatcan|null|        20| 63980|
|  Rajish|  25|        20|  null|
+--------+----+----------+------+

In [17]:
df_pyspark

DataFrame[Name: string, Age: int, Experience: int, Salary: int]

In [18]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Krush|  19|        17| 88290|
|   Kimar|  23|        18| 94845|
|    null|  10|        16|  null|
|Dagrisab|  56|      null| 60268|
|  Sanjay|  46|        15| 52381|
|   Mintu|null|        17| 93836|
|   Vijay|  17|        18|  null|
|    null|  32|      null| 71205|
|Amjatcan|null|        20| 63980|
|  Rajish|  25|        20|  null|
+--------+----+----------+------+

In [22]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("mean")

In [23]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+-----------+------------------+--------------+
|    Name| Age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
|   Krush|  19|        17| 88290|         19|                17|         88290|
|   Kimar|  23|        18| 94845|         23|                18|         94845|
|    null|  10|        16|  null|         10|                16|         74972|
|Dagrisab|  56|      null| 60268|         56|                17|         60268|
|  Sanjay|  46|        15| 52381|         46|                15|         52381|
|   Mintu|null|        17| 93836|         28|                17|         93836|
|   Vijay|  17|        18|  null|         17|                18|         74972|
|    null|  32|      null| 71205|         32|                17|         71205|
|Amjatcan|null|        20| 63980|         28|                20|         63980|
|  Rajish|  25|        20|  null|         25|                20|         74972|
+--------+----+----------+------+-----------+------------------+--------------+