In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

from pyspark.sql import SparkSession

In [2]:
import pandas as pd

In [3]:
pd.read_csv('test2.csv')

       Name  Age  Experience
0  Tajudeen   40          10
1   Simbiat   23           5
2     Sanni   27          25

In [4]:
type(pd.read_csv('test2.csv'))

pandas.core.frame.DataFrame

In [5]:
import findspark
findspark.init()

findspark.find()
import pyspark
findspark.find()

'C:\\Spark'

In [6]:
spark=SparkSession.builder.appName('test1').getOrCreate()

In [7]:
spark

In [8]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('test2.csv',inferSchema=True)

In [9]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Tajudeen| 40|        10|
| Simbiat| 23|         5|
|   Sanni| 27|        25|
+--------+---+----------+

In [25]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark.head(3)

[Row(Name='Tajudeen', Age=40, Experience=10),
 Row(Name='Simbiat', Age=23, Experience=5),
 Row(Name='Sanni', Age=27, Experience=25)]

In [12]:
### Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.select(['Name','Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|Tajudeen|        10|
| Simbiat|         5|
|   Sanni|        25|
+--------+----------+

In [16]:
df_pyspark['Name']

Column<'Name'>

In [17]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [18]:
df_pyspark.describe().show()

+-------+--------+-----------------+------------------+
|summary|    Name|              Age|        Experience|
+-------+--------+-----------------+------------------+
|  count|       3|                3|                 3|
|   mean|    null|             30.0|13.333333333333334|
| stddev|    null|8.888194417315589|10.408329997330664|
|    min|   Sanni|               23|                 5|
|    max|Tajudeen|               40|                25|
+-------+--------+-----------------+------------------+

In [19]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [20]:
df_pyspark.show()

+--------+---+----------+-----------------------+
|    Name|Age|Experience|Experience After 2 year|
+--------+---+----------+-----------------------+
|Tajudeen| 40|        10|                     12|
| Simbiat| 23|         5|                      7|
|   Sanni| 27|        25|                     27|
+--------+---+----------+-----------------------+

In [21]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [22]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Tajudeen| 40|        10|
| Simbiat| 23|         5|
|   Sanni| 27|        25|
+--------+---+----------+

In [23]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|Tajudeen| 40|        10|
| Simbiat| 23|         5|
|   Sanni| 27|        25|
+--------+---+----------+